.form {
	padding-left: 50px;
	padding-top: 30px;
}

.btn-styling{
	background: green;
}

.centered {
	position: fixed;
	top: 90%;
	left:50%;
	margin-left: auto;
	margin-right: auto;
}
h1,
h3 {
 	text-align: center;
 }